// Widescreens
@include mediaXl {

}

// Desktop & Laptops
@include mediaLg {

    body {
        section {

            &#intro {
                background-image: linear-gradient(to bottom, rgba($bg-color, $bg-opacity), rgba($bg-color, $bg-opacity)), url('../images/desk2.jpg');
            }         
        }
    }
}

// Tablets & Small Laptops
@include mediaMd {

    body {   
        section {
            &#intro {
                background-image: linear-gradient(to bottom, rgba($bg-color, $bg-opacity), rgba($bg-color, $bg-opacity)), url('../images/desk2.jpg');

                h1 {
                    font-size: 3.5rem;
                }
            }

            &#skills {
                .skills-list {
                    ul {
                        font-size: 1.5rem;
                    }  
                }
            }

            &#projects {
                .projects-list {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr auto);
                    grid-template-areas: 
                        "p1"
                        "t1"
                        "p2"
                        "t2"
                        "p3"
                        "t3";

                    .project {
                        min-width: 0;
                    }
                }
            }
        }
    }
}

// Smartphones
@include mediaSm {

    body {
        #menu-icon {
            .bar1 {
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            
            .bar2 {
                opacity: 0;
            }
            
            .bar3 {
                transform: rotate(45deg) translate(-8px, -8px);
            }
            
            &.change {
                .bar1 {
                    transform: translate(0px, 0px);
                }
                
                .bar2 {
                    opacity: 1;
                }
                
                .bar3 {
                    transform: translate(0px, 0px);
                }
            }
        }

        #navbar {       
            width: 100%;
            background-color: $secondary-color;
            max-height: 500px;

            ul {
                padding-top: 0;
                li {
                    a {
                        &:hover {
                            color: $bg-color;
                        }
                    }
                }
            }

            &.change {
                max-height: 0;
            }
        }
        
        .arrow {
            bottom: 30px;
        }

        section {
            padding-top: 30px !important; 

            &#intro {
                background-image: linear-gradient(to bottom, rgba($bg-color, $bg-opacity), rgba($bg-color, $bg-opacity)), url('../images/desk2.jpg');
                padding: 0 20px;

                h1 {
                    font-size: 3rem;
                }

                .links {
                    height: auto;
                    width: auto;

                    .not-mobile {
                        display: none;
                    }
                }
            }

            &#skills {
                background: linear-gradient(to bottom, rgba($bg-color-2, 1), rgba($bg-color-2, 1));
                background-attachment: scroll;
                min-height: 0;

                h1 {
                    font-size: 3rem;
                }
                
                .arrow {
                    display: none;
                }
                
                .skills-list {
                    justify-content: space-between;

                    ul {
                        font-size: 1rem ;
                        list-style: none;

                        h3 {
                            font-size: 14px;
                        }

                        li {
                            padding: 10px 5px;
                            margin-left: 10px;

                            &::before {
                                left: -10px;
                                width: 10px; 
                            }
                        }
                    }
                    
                }
            }

            &#projects {

                h1 {
                    font-size: 3rem;
                }

                .arrow {
                    display: none;
                }

                .projects-list {
                    max-width: 267px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    grid-template-areas: 
                        "p1"
                        "t1"
                        "p2"
                        "t2"
                        "p3"
                        "t3";

                    .project {
                        min-width: 0;
                        flex-direction: column-reverse;

                        .picture {
                            padding-top: 10px;
                        }

                        .description {
                            h2 {
                                text-align: center;
                                padding-top: 10px;

                                &::after {
                                    left: 50%;
                                    transform: translate(-50%,0);
                                }
                            }
                            ul {
                                list-style: none;                      
                                text-align: center;
                            }
                        }
                    }
                }
            }

            &#contact {
                background-attachment: scroll;
                min-height: 60vh;

                h1 {
                    font-size: 3rem;
                }
                
                p {
                    max-width: 80%;
                    font-size: 1.3rem;
                }
            }
        }

        #lightbox  {

            .modal-content {
                width: 100%;
                max-height: 100%;
            }

            .close {
                font-size: 2rem;
            }

            .prev,
            .next {
                font-size: 1rem;
                margin-top: -30px;
            }

            .numbertext {
                font-size: 0.8rem;
            }

        }
    }
}

